root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
  args_bin = ["run", "--config", "./Caddyfile"]
  bin = "./caddy.amd64.linux"
  cmd = "GOARCH=amd64 GOOS=linux xcaddy build --with github.com/haught/caddy-saml-sso=./ --output ./caddy.amd64.linux"
  delay = 1000
  exclude_dir = ["assets", "tmp", "vendor", "testdata", "saml-app", "idp", "scripts", "md", ".git"]
  exclude_file = []
  exclude_regex = ["_test.go"]
  exclude_unchanged = false
  follow_symlink = false
  full_bin = "./caddy.amd64.linux run --config ./Caddyfile"
  include_dir = []
  include_ext = ["go", "tpl", "tmpl", "html"]
  include_file = []
  kill_delay = "0s"
  log = "build-errors.log"
  poll = false
  poll_interval = 0
  rerun = true
  rerun_delay = 500
  send_interrupt = true
  stop_on_error = false

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  time = false

[misc]
  clean_on_exit = false

[screen]
  clear_on_rebuild = false
  keep_scroll = true

