{
	order saml_sso before header
	debug
}

(enable_saml) {
	saml_sso {
		saml_idp_url {$SAML_IDP_URL}
		saml_cert_file {$SAML_CERT_FILE}
		saml_key_file {$SAML_KEY_FILE}
		saml_root_url {$SAML_ROOT_URL}
		saml_entity_id {$SAML_ENTITY_ID}
		saml_userid_claim {$SAML_USERID_CLAIM}
		saml_claims {$SAML_CLAIMS}
		saml_cookie_name {$SAML_COOKIE_NAME}
		saml_remote_user_var {$SAML_REMOTE_USER_VAR}
		saml_var_prefix {$SAML_VAR_PREFIX}
	}
}

http://:12000 {
	handle /ping {
		respond "pong"
	}

	import enable_saml

	# Respond back to the user printing some of the SAML attributes
	header Content-Type text/html
	respond `<center>
		<p><br /> {http.request.header.x-remote-user}, you are authenticated now.<br />
		</p>
	</center>`
}
