---

services:
  caddy-saml-sso-dev:
    container_name: caddy-saml-sso-dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    working_dir: /app
    platform: linux/amd64
    volumes:
      - .:/app
      - go-mod-cache:/go/pkg/mod
    ports:
      - 12000:12000/tcp
      - 12000:12000/udp
    env_file:
      - .env.dev
    environment:
      - CGO_ENABLED=0
    command: >
      air -c .air.toml

volumes:
  go-mod-cache:
